/**
 * mkg-sidebar
 * https://github.com/mkg0/mkg-sidebar
 */
@keyframes slideLeft{
  0%{transform:translateX(-90px);opacity:0;}
  100%{transform:translateX(0px);opacity:1;}
}
@keyframes slideLeft2{
  0%{transform:translateX(0px);opacity:1;}
  100%{transform:translateX(-90px);opacity:0;}
}
@keyframes slideRight{
  0%{transform:translateX(90px);opacity:0;}
  100%{transform:translateX(0px);opacity:1;}
}
@keyframes slideRight2{
  0%{transform:translateX(0px);opacity:1;}
  100%{transform:translateX(90px);opacity:0;}
}
@keyframes slideTop{
  0%{transform:translateY(-90px);opacity:0;}
  100%{transform:translateY(0px);opacity:1;}
}
@keyframes slideTop2{
  0%{transform:translateY(0px);opacity:1;}
  100%{transform:translateY(-90px);opacity:0;}
}
@keyframes slideBottom{
  0%{transform:translateY(90px);opacity:0;}
  100%{transform:translateY(0px);opacity:1;}
}
@keyframes slideBottom2{
  0%{transform:translateY(0px);opacity:1;}
  100%{transform:translateY(90px);opacity:0;}
}
@keyframes contFadeIn{
  0%{opacity:0.3;}
  100%{opacity:1;}
}
@keyframes contFadeOut{
  0%{opacity:1;}
  100%{opacity:0;visibility: hidden;}
}


.mSidebar{position:relative;overflow:hidden;position:fixed;z-index: 110;top:0;left:0;width:100%;height:100%;background: rgba(#000,0.3);display: none;animation-timing-function: cubic-bezier(0.150, 0.015, 0.355, 1.000);
  &-container{position: absolute;z-index: 101;overflow-y: auto;background: #f9f9f9;padding:10px 10px 10px 10px;animation-timing-function: cubic-bezier(0.150, 0.015, 0.355, 1.000);box-sizing: border-box;}
  &-close{width:60px;height:60px;border:0;cursor:pointer;display: inline-block;float:right;touch-action:manipulation;outline:0;font-size: 0;line-height: 0;margin:-10px -10px 0 0;@extend .mSidebar--touch;
    &:before{content:'';width:40%;margin-top:0;margin-left:auto;margin-right:auto;height:1px;background-color:#000;display:block;transform:rotate(-45deg);display: block;margin-top:50%;}
    &:after{content:'';width:40%;margin-top:0;margin-left:auto;margin-right:auto;margin-top:-1px;height:1px;background-color:#000;display:block;transform:rotate(45deg);display: block;}
    &:hover{
      &:before{width:40%;}
      &:after{width:40%;}
    }
  }
  &-content{clear:both;
    & > .mSidebar-item:first-child,& > .mSidebar-collapse:first-child{border-top:1px solid #e2dede;}
    & > .mSidebar-collapse{margin:0 -10px;}
  }
  &-item{display:block;text-align:left;margin:0 -10px;padding:0 20px;font-size:1rem;line-height: 60px;height:60px;overflow:hidden;text-decoration: none;transition: all  200ms ease-out;cursor: pointer;border-bottom: 1px solid #e2dede;color:#555;box-sizing: border-box;outline: 0;
    &:visited{text-decoration: none;}
    &:hover{background-color: #ddd;}
  }

  &-collapse{
    &-items{padding-left:20px;display:none;box-sizing: border-box}
    &-header{@extend .mSidebar-item;margin:0;}
    &-button{float: right;width: 60px;height: 60px;background: none;border:solid #e2dede;border-width:0 0px 1px 1px;cursor: pointer;outline:0;transition: all  200ms ease-out;@extend .mSidebar--touch;box-sizing: border-box;
      &:before{content:'';width:15px;margin: 50% auto 0 auto;height:1px;background: #333;display: block;transition:all 300ms;}
      &:after{content:'';width:15px;margin: 0 auto;height:1px;background: #333;display: block;transform:translateY(-1px) rotate(-90deg);transition:all 300ms;}
      &:hover{background-color: #ddd;}
    }
    .mSidebar-item{margin:0}
    &--open{
      & > .mSidebar-collapse-items{display: block}
      & > .mSidebar-collapse-button{background: #f2ecec;
        &:before{transform:rotate(-180deg);}
        &:after{transform:translateY(-1px) rotate(-360deg);opacity:0;}
      }
    }
  }


  //states
  &--open{display: block;
    .mSidebar-container{}
  }

  &--close{display: block;pointer-events: none;
    // .mSidebar-container{ animation-name:slideLeft2;opacity:0;animation-duration: 0.1s}
  }


  //positions
  &--left &-container{top:0;left:0px;width:320px;height:100%;}
  &--right &-container{top:0;right:0px;width:320px;height:100%;}
  &--top &-container{top:0;left:0;width:100%;height:auto;max-height: 100%;}
  &--bottom &-container{bottom:0;left:0;width:100%;height:auto;max-height: 100%;}
  &--full &-container{position: relative;position:static;width:100%;height: 100%;}

  //animations

  &--slide{
    &.mSidebar--open{animation: 300ms both contFadeIn;
      &.mSidebar--left .mSidebar-container{animation: 300ms 250ms both slideLeft;opacity: 1;}
      &.mSidebar--top .mSidebar-container{animation: 300ms 250ms both slideTop;opacity: 1;}
      &.mSidebar--right .mSidebar-container{animation: 300ms 250ms both slideRight;opacity: 1;}
      &.mSidebar--bottom .mSidebar-container{animation: 300ms 250ms both slideBottom;opacity: 1;}
    }
    &.mSidebar--close{animation: 400ms 100ms both contFadeOut;height: 0%;transition: height 0ms linear 500ms;
      &.mSidebar--left .mSidebar-container{animation: 150ms both slideLeft2;}
      &.mSidebar--top .mSidebar-container{animation: 150ms both slideTop2;}
      &.mSidebar--right .mSidebar-container{animation: 150ms both slideRight2;}
      &.mSidebar--bottom .mSidebar-container{animation: 150ms both slideBottom2;}
    }
  }


  &--touch{cursor:pointer;touch-action:manipulation;}
}


.mSidebar{
  & &-item{} //all menu items
  & &-collapse{ //whole collapsable item container
    //a collapsable item has 3 parts:
    & &-header{} //header area is the part of without button and sub items
    & &-items{} //items area is the sub-items container of collapsable item
    & &-button{} // button area of the collapsable item
  }
  & &--d0{} //you can compine any class with mSidebar--d{level}
  & &--d1{}
  & &--d2{}
}
